html, body, * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: Arial, Helvetica;
}
h1 {
    color: black;
    user-select: none;
}
.synth-container {
    height: 100%;
    width: 100%;
    font-size: 0em;
}
.synth-container > div > * {
    font-size: initial;
}
.controls-upper,
.controls-lower {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
}

.module,
.master-volume-container,
.master-pitch-container,
.waveforms-and-options-container,
.filter-container,
.sequencer-container,
.wheels-container,
.envelope-container,
.sequencer-container,
.title-container,
.lfo-container,
.sequencer-container {
    min-width: calc(100% / 2);
    width: 25%;
    height: 30%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align:top;
}
.title-container {
    font-weight: 100;
    font-family: Helvetica Neue;
}
.envelope-slider-container { 
    border-right: 1px solid rgb(239,239,239);
    position: relative;
    width: 25%;
    height: 100%;
}
h1.envelope-slider-label {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
h1.make,
h1.model {
    margin-left: 10px;
    color: black;
    font-size: 5vw;
}
h1.model {
    margin-left: 34px;
    margin-top: -16px;
    font-size: 200px;
}
h1.make {
    font-weight: 100;
}
.wheels-container {
    background: aquamarine;
}
.master-volume-container {
    background: pink;
}
.octave-button-up,
.octave-button-down {
    display: block;
    font-size: 4em;
}

.master-pitch-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgb(40,40,40);
}
.led-container,
.volume-container {
    padding: 5%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

}
.octave-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
    width: 50%;
    height: 100%;
}
.waveforms-and-options-container {
    background: lightgreen;
    flex-direction: column;
}
.waveforms-container,
.waveform-level-container {
    display: inline-flex;
    height: 50%;
    width: 100%;
}

.waveform-level-container {
    position: relative;
    background: whitesmoke;
}
.filter-container {
    background: #e8e8e8;
}
.envelope-container {
    background: whitesmoke;
}
.lfo-container {
    background: lightblue;
}
.sequencer-container {
    background: yellow;
    width: 100%;
}
.keyboard-container {
    height: 40%;
    width: 100%;
}

.keyboard {
    height: 100%;
    width: 100%;
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.knob,
.btn {
    box-shadow: 0 2px 0px 0px #afafaf;
}

@media(max-width: 500px) {
    .led-container {
        flex-direction: column;
    }
    .keyboard-container {
        transform: rotate(180deg);
        width: 100%;
        height: 150%;
    }
    .keyboard {
        flex-direction: column;
        height: 100%;
    }
}
