<div class="synth-container">

    <!--Master Pitch Container -->
    <div class="module master-pitch-container">

        <!-- Octave LED Meter -->
        <div 
            title="octave meter"
            class="led-container">

            <led 
            diameter="15%"
            v-for="led in leds" 
            v-bind:color="led.color" 
            v-bind:currentOctave="soundEngine.currentOctave" 
            v-bind:octave="led.octave">
            </led>

        </div>

        <!-- Octave -->
        <div 
        title="octave"
        class="octave-buttons-container">

            <btn 
            title="octave +1"
            class="octave-button-up" 
            v-on:press="adjustOctave(+1)">

                <i 
                v-bind:style="{ color: palette.white }" 
                class="fa fa-caret-up" 
                slot="label">
                </i>

            </btn>
            <btn 
            title="octave -1"
            class="octave-button-down" 
            v-on:press="adjustOctave(-1)">

                <i 
                v-bind:style="{color: palette.white}" 
                class="fa fa-caret-down" 
                slot="label">
                </i>

            </btn>
        </div>
    </div>

    <!-- Master Volume Knob Container -->
    <div 
        title="Master Volume. Swipe up to increase. Swipe down to decrease. Tap to mute."
        class="module master-volume-container">

        <!-- Master LED Readings --> 
        <div class="volume-container">
            <led color="red"></led>
            <led color="red"></led>
            <led color="red"></led>
            <led color="red"></led>
            <led color="red"></led>
        </div>

        <!-- Master Volume Knob -->
        <knob
        v-on:toggle="toggleMasterVol"
        color="black" 
        diameter="50%">
        </knob>

    </div>

    <!-- Waveforms -->
    <div class="module waveforms-and-options-container">

        <div class="waveforms-container">
            <knob 
            v-for="waveform in waveforms" 
            v-on:toggle="toggleOscillatorVol"
            v-bind:active="sound.oscillators[ waveform.name ].active"
            v-bind:bg-image-active="waveform.knob.img.active"
            v-bind:bg-image-inactive="waveform.knob.img.inactive"
            v-bind:waveform="waveform.name"
            v-bind:color="waveform.knob.color"
            v-bind:title="`toggle ${ waveform.name } level on / off.`"
            diameter="25%">
            </knob>
        </div>

        <div class="waveform-level-container">
            <slider 
            v-for="waveform in waveforms" 
            v-on:slide="adjustOscillatorVolume"
            v-bind:control-source="sound.oscillators[ waveform.name ]"
            v-bind:direction="waveform.slider.direction"
            v-bind:name="waveform.name"
            v-bind:content="waveform.name"
            v-bind:title="`adjust ${ waveform.name } level.`"
            v-bind:color="waveform.slider.color">
            </slider>
        </div>

    </div>

    <!-- Envelope -->
    <div class="module envelope-container">

        <div 
            v-for="param in envelope"
            class="envelope-slider-container">

            <h1 
            v-bind:title="param.name"
            class="envelope-slider-label">{{ param.name | abbreviate }}</h1>

            <slider 
            v-on:slide="setEnvelopeValue"
            v-bind:control-source="sound.envelope[ param.name ]"
            v-bind:direction="param.slider.direction"
            v-bind:opacity="0.4"
            v-bind:name="param.name"
            v-bind:content="param.name"
            v-bind:color="param.slider.color"
            v-bind:title="param.slider.description">
            </slider>
        </div>

    </div>

    <!-- Modulation Wheels Container -->
    <div class="module wheels-container">
        <wheel></wheel>
        <wheel></wheel>
    </div>

    <!-- Settings Panel -->
    <div class="module settings-container">

        <btn 
        title="save synth parameters to local storage."
        class="" 
        v-on:press="saveToLocalStorage">

            <i 
            v-bind:style="{ color: palette.black }" 
            class="fa fa-save" 
            slot="label">
            </i>

        </btn>

    </div>
       
    <!-- Signature Sign Container -->
    <div class="module title-container">
        <h1 class="make">ARS</h1>
        <h1 class="model">1</h1>
    </div>

    <!-- Keyboard Container -->
    <div class="module keyboard-container">
        <div class="keyboard">
            <key 
            v-for="index in 25" 
            v-bind:index="index - 1" 
            v-bind:blackKeys="keyboard.blackKeys"
            v-on:noteon="noteOn"
            v-on:noteoff="noteOff">
            </key>
        </div>
    </div>

    <!-- Sequencer Container -->
    <!--
    <sequencer 
    v-bind:sequencer="sequencer">
    </sequencer>
    -->

</div>
